.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.color-picker::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg,#fff,hsla(20,42%,65%,0));
    z-index: 1;
}
.color-picker::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg,#000,hsla(0,0%,100%,0));
    z-index: 2;
}

.popup-container::before {
    content: none !important;
}
.popup-container {
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.medium-icon {
    font-size: 1.15rem;
}


::selection {
    color: #fff !important;
    background-color: #f2711c !important;
}

.clipped {
    object-fit: cover;
    overflow: hidden !important;
}